################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOP/seriale/.vs/seriale/v15/ipch/AutoPCH/4897e4356c85cffc/TVSERIES.ipch
